@import 'tailwindcss';
@import './_reset.css';
@import './_utils.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
  --spacing: 1rem;

  /* Fonts */
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Colors */
  --color-*: initial;

  --color-white: #fff;
  --color-black: #000;

  --color-gray-100: #fafafa;
  --color-gray-300: #f5f5f5;
  --color-gray-500: #7d8184;
  --color-gray-700: #363738;

  --color-red-300: #e07575;
  --color-red-500: #db4444;
  --color-red-700: #b23333;

  --color-green-500: #00ff66;

  --color-blue-300: #a0bce0;

  --color-primary: var(--color-black);
  --color-secondary: var(--color-red-500);
}

@layer components {
  .app-title {
    @apply font-inter text-4xl font-semibold text-black;
  }
}
