@import 'tailwindcss';
@import './_reset.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --spacing: 1rem;

    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;

    /* Colors */
    --color-*: initial;
    --color-primary: #fff;
    --color-primary-2: #363738;
    --color-secondary: #f5f5f5;
    --color-secondary-2: #fefaf1;
    --color-seconday-3: #db4444;
    --color-bg: #fff;
    --color-text: #fafafa;
    --color-text-2: #7d8184;
    --color-text-3: #000000;
    --color-btn: #000000;
    --color-btn-2: #00ff66;
    --color-btn-3: #db4444;
    --color-hover-btn: #e07575;
    --color-hover-btn-2: #a0bce0;
}
